.contact {
    display: flex;
    height: 60vh;
    background-color: #191436;
}
.contact-left{
    color: white;
    margin-left: 100px;
    text-align: left;
    width: 450px;
}
.contact-left h1{
    font-size: 50px;
}
.contact-left .info{
    font-size: 12px;
}
.contact-right{
    margin-left: 400px;
    margin-top: 200px;
}
.social-icon{
    display: flex;
    align-items: center;
    gap:15px
}
.fa-brands{
    padding: 10px;
    background-color: white;
    border-radius: 100%;
}
.footer{
    display: flex;
    margin: 30px;
}
.footer p{
    color: white;
}
.footer img{
    margin: 0 10px 10px 10px;
}