
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Inter&family=Libre+Baskerville&family=Poppins:ital@0;1&family=Roboto:wght@300&family=Space+Grotesk&display=swap');

.guide{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.guide-left img{
    height: 350px;
    width: 250px;
    margin-top: 100px;
    
}
.guide-right{
height: 207px;
width: 554px;
text-align: left;

}
.guide-right h5{
    color: rgb(233, 46, 138) ;
}
.guide-right p{
    font-size: 16px;
    font-family: 'Caveat', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}